body {
  margin: 0;
}
.top {
  background-color: rgb(252, 247, 242);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.left_top {
  width: 25%;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  cursor: pointer;
}
.right_top {
  width: 12%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.track_order {
  margin-left: 10px;
}
.nav {
  height: 40px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  border-bottom: solid 0.1px rgb(62, 65, 65);
}
.nav_left {
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  font-size: 20px;
}
.nav_right {
  width: 20%;
  display: flex;
  padding-left: 100px;
  justify-content: space-around;
}
.imge {
  height: 25px;
}
.input {
  width: 100px;
}
.search_box {
  margin-top: 10px;
  padding-top: 1px;
  background-color: rgb(219, 219, 219);
  padding: 5px;
  width: 75%;
  justify-content: space-around;
}
.search {
  background-color: rgb(219, 219, 219);
  border: 0px;
}
.Tab {
  height: 50px;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.banner {
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0;
}
.banner_1 {
  width: 30%;
  height: 450px;
}
.banner_2 {
  width: 30%;
  height: 450px;
}
.banner_3 {
  width: 30%;
  height: 450px;
}
.baner_1 {
  width: 450px;
  height: 450px;
}
.baner_2 {
  width: 450px;
  height: 450px;
}
.baner_3 {
  width: 450px;
  height: 450px;
}
.Timeing {
  height: 150px;
  padding-bottom: 2px;
  margin-bottom: 30px;
}
.Time_img {
  height: 150px;
  width: 100%;
}
.deals {
  height: 100px;
  width: 70%;
  display: flex;
  margin-left: 160px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.deal1 {
  width: 120px;
  height: 150px;
  padding: 5px;
  /* padding-bottom: 10px; */
}
.last{
  padding-top: 95px;
  margin-top: 50px;
  /* border: 1px solid red; */
  height: 200px;
}
.offer{
  /* border: 1px solid red; */
  margin-top: 120px;
  height: 150px;
  width: 100%;
}
.ofrimg{
  width: 100%;
}
.pphding{
  padding-top: 30px;
  text-align: center;
}
.dress{
  /* border: 1px solid red; */
  height: 400px;
  display: flex;
}
.drs{
  /* border: 1px solid red; */
  height: 300px;
  width: 250px;
}
.dr{
  height: 350px;
  width: auto;
}